@media (max-width: 768px) {
  .header-1 {
    display: none;
  }
}
@media (max-width: 999px) {
  .owl-dots {
    display: none;
  }
}

@media (max-width: 669px) {
  .carousel-caption h1 {
    font-size: calc(1.625rem + 2.5vw);
  }
}

@media (max-width: 479px) {
  .carousel-caption h1 {
    font-size: calc(1.625rem + 0.5vw);
  }
}
